* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url("../images/gotham-cityscape.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.hidden {
    display: none;
}

main {
    display: flex;
    width: 700px;
    padding: 25px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(12.5px);
    color: white;
}

#intro {
    text-align: center;
    max-width: 500px;
}

.btn {
    height: 61px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #30F;
    border: #30F;
    width: 193px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 1.98px;  
}

.start-btn:hover {
    background-color: #4e7fff;
    color: white;
}

#game-container {
    text-align: center;
    max-width: 500px;
}

#answer-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.ans-btn {
    height: 61px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #30F;
    border: #30F;
    width: auto;
    height: auto;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 1.98px;  
}

.ans-btn:hover {
    background-color: #4e7fff;
    color: white;
}